<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8'/>
        <meta name='viewport' content='width=device-width' initial-scale='1.0' maximum-scale='1.0'/>
        <title>Plannero</title>
        <link href="https://fonts.googleapis.com/css2?family=Vidaloka&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link rel='stylesheet' href='css/cardstyles.css'/>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
        
         <div id='header'>
            
            <div id='logo'>
                <a href='/profile' class='profileAnchor'> <label id='mainText'>plannero</label></a>
                <label id='subText'>keeping you on track</label>
            </div>
            
            <form method="POST" action="/logout" id="logoutButtonForm">
                <button id="logoutButton">Log Out</button>
            </form>
        </div>
        
        <section id="team" class="pb-5">
            <div class="container">
                <h5 class="section-title h1">OUR TEAM</h5>
                <div class="row">
                    <!-- Team member -->
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                            <div class="mainflip">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <p><img  class=" img-fluid" src="images/boris.jpg" alt="card image"></p>
                                            <h4 class="card-title">Boris</h4>
                                            <p class="card-text">Full Stack Developer</p>
                                            <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="backside">
                                    <div class="card">
                                        <div class="card-body text-center mt-4">
                                            <h4 class="card-title">Borinquen "Boris" Rodriguez</h4>
                                            <p class="card-text">Mobile Gaming Influencer turned Software Developer looking to create innovative and exciting applications</p>
                                            <ul class="list-inline">
                                                <li class="list-inline-item">
                                                    <a class="social-icon text-xs-center" target="_blank" href="https://twitter.com/brodri4">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./Team member -->
                    <!-- Team member -->
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                            <div class="mainflip">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <p><img class=" img-fluid" src="images/jonathan.jpeg" alt="card image"></p>
                                            <h4 class="card-title">Jonathan</h4>
                                            <p class="card-text">Full Stack Developer</p>
                                            <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="backside">
                                    <div class="card">
                                        <div class="card-body text-center mt-4">
                                            <h4 class="card-title">Jonathan Nuno</h4>
                                            <p class="card-text">Avid manga reader, sudoku puzzle solver and Software Developer who enjoys neverending puzzles</p>
                                            <ul class="list-inline">
                                                <li class="list-inline-item">
                                                    <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/jonathannuno/">
                                                        <i class="fa fa-linkedin"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./Team member -->
                    <!-- Team member -->
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                            <div class="mainflip">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <p><img class=" img-fluid" src="images/will.png" alt="card image"></p>
                                            <h4 class="card-title">William</h4>
                                            <p class="card-text">Full Stack Developer</p>
                                            <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="backside">
                                    <div class="card">
                                        <div class="card-body text-center mt-4">
                                            <h4 class="card-title">William Foody</h4>
                                            <p class="card-text">Software Developer, composer, musician.</p>
                                            <ul class="list-inline">
                                                <li class="list-inline-item">
                                                    <a class="social-icon text-xs-center" target="_blank" href="https://github.com/wfoody">
                                                        <i class="fa fa-github"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/wfoody/">
                                                        <i class="fa fa-linkedin"></i>
                                                    </a>
                                                </li>
                                               <li class="list-inline-item">
                                                    <a class="social-icon text-xs-center" target="_blank" href="https://www.instagram.com/willfoody/">
                                                        <i class="fa fa-instagram"></i>
                                                    </a>
                                                </li>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./Team member -->
        
                </div>
            </div>
        </section>
        <!-- Team -->
        <footer>
            <a href = "/profile"><p>Home</p></a>
            <p>&copy; 2020</p>
        </footer>
    </body>

</html>