<h1>Hello you made it</h1>


        <h2> {{spaceCat}} </h2>
        {{#projects}}
        <li>
        {{name}} - {{description}} - {{status}}
        <a href='../project-details/{{id}}'> <button>Project Info</button></a>
 
        </li>
        {{/projects}}