<html>

        <head>

          <link rel="stylesheet" type="text/css" href="/../../css/styles.css" />
        </head>

        <body>
                <div class="allMainContent">
                        <h1> {{spaceCat}} </h1>
                                
                                <div class="allContent">
                                        {{#projects}}
                                        <a class="projectDetails" href= '/../../profile/project-details/{{id}}'><div class="card">
                                        <h3>{{name}}</h3>
                                        
                                        <p>{{description}}</p>
                                        </div></a>
                                        {{/projects}}
                                </div>

                        <a href='/profile'>Profile</a>
                </div>
        </body>

</html>