<html>
    <head>

        <link rel="stylesheet" type="text/css" href="/../css/styles.css" />

    </head>

    <body>
        <div class="singleDetailContent">
            <h1 class="singleTitle">Enter Project Details</h1>

            <div class="singleBox">
                <form class="formDetail" method="POST" action="./project-details">
                    <ul class="ulDetail">
                        <label class="labelDetail">
                            <p class="pDetails">Project Name: </p><input type="text" name="projectName" placeholder="Project Name" required >
                        </label>

                        <label class="labelDetail">
                            <p class="pDetails">Project Description: </p><textarea type="text" name="projectDescription" placeholder="Project Description" required ></textarea>
                        </label>

                        <label class="labelDetail" for="projectStatus"><p class="pDetails">Choose a Status: </p>
                            <select name="projectStatus" id="projectStatus">
                            <option value="Plan_to_do">Plan To Do</option>
                            <option value="Working_on">Working On</option>
                            <option value="Completed">Completed</option>
                            </select>
                        </label>
                    </ul>
                    <button class="singleButton">Submit</button>
                </form>
            </div>
        </div>
    </body>


</html>