<html>

    <head>
        <link rel="stylesheet" href="./css/login-styles.css">
    </head>

    <body onload="if ({{message}} == 0) { return alert('Password does not match')} 
                  else if ({{message}} == 1) { return alert('Username does not exist')}">  
        <div id='planneroText'>
            <h1>plannero</h1>
            <p>keeping you on track</p>
        </div>

        <div id="container">
            <div class="login">
                <form method="POST" action="/login">
                    <input type='text' name='username' placeholder='Email or username' required/>
                    <input type='password' name='password' placeholder='Password' required/>
                    <button id="loginButton">Log In</button>
                </form>
            </div>
            <hr>
            <div class='registerButton'>
                <a href='/register'><button id="registerButton">Create New Account</button></a>
                <a href='/login-guest' id='guest'>Log In as Guest</a>
            </div>
        </div>
    </body>

</html>