<html>

    <head>
    </head>

    <body>
    
    <header>
    <form method="POST" action="/logout">
    <button>Logout</button>
    </form>
    </header>

    <h1>Profile Page</h1>
    <img src="images/defaultUserIcon.jpeg">
    <a href="/profile/create-project"><button>Create Project</button></a>
    </body>

   
    <ul>
        <h2> Completed Projects </h2>
        {{#completedProjects}}
        <li>
        {{name}} - {{description}} - {{status}}
        </li>
        {{/completedProjects}}

        <form method="POST" action="profile/categories/Completed" >
        <button>Show all</button>
        </form>

        <h2> Working on </h2>
        {{#workingOnProjects}}
        <li>
        {{name}} - {{description}} - {{status}}
        </li>
        {{/workingOnProjects}}
        <form method="GET" action="/categories/workingOn">
        <button>Show all</button>
        </form>

        <h2> Plan to do </h2>
        {{#planToDoProjects}}
        <li>
        {{name}} - {{description}} - {{status}}
        </li>
        {{/planToDoProjects}}
        <form method="GET" action="/categories/planToDo">
        <button>Show all</button>
        </form>

    </ul>



</html>