<html>

    <head>


    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    </head>

    <body>
    
    <header>
    <form method="POST" action="/logout">
    <button>Logout</button>
    </form>
    </header>

    <h1>Profile Page</h1>
    <img src="images/defaultUserIcon.jpeg">
    <a href="/profile/create-project"><button>Create Project</button></a>
    </body>


        <div>
            <h2> Completed Projects </h2>

            <div class="content">
                <ul>
                    {{#completedProjects}}
                    <div class="card">
                    <h3>{{name}}</h3>
                    
                    <p>{{description}}</p>
                    </div>
                    {{/completedProjects}}
                </ul>
            </div>

            <form method="POST" action="profile/categories/Completed" >
            <button>Show all</button>
            </form>
        </div>

        <div>
            <h2> Working on </h2>

            <div class="content">
                <ul>
                    {{#workingOnProjects}}
                    <div class="card">
                    <h3>{{name}}</h3>
                    
                    <p>{{description}}</p>
                    </div>
                    {{/workingOnProjects}}
                </ul>
            </div>
            
            <form method="POST" action="profile/categories/Working_on">
            <button>Show all</button>
            </form>
        </div>

        <div>
            <h2> Plan to do </h2>
            <div class="content">
                <ul>
                    {{#planToDoProjects}}
                    <div class="card">
                    <h3>{{name}}</h3>
                    
                    <p>{{description}}</p>
                    </div>
                    {{/planToDoProjects}}
                </ul>
            </div>
            
            <form method="POST" action="profile/categories/Plan_to_do">
            <button>Show all</button>
            </form>
        </div>
 



</html>