<html>

    <head>
    </head>

    <body>
    <h1>Profile Page</h1>
    <img src="images/defaultUserIcon.jpeg">
    <a href="/profile/create-project"><button>Create Project</button></a>
    </body>

</html>