<!DOCTYPE html>
<html lang='en'>

    <head>
        <title>Project Details - Plannero</title>
        <link rel="stylesheet" type="text/css" href="/../../css/styles.css" />
        <link rel="stylesheet" type="text/css" href="/../../css/projectdetails-styles.css" />

    </head>
    
    <body>

     <div id='header'>
            
            <div id='logo'>
                <a href='/profile' class='profileAnchor'> <label id='mainText'>plannero</label></a>
                <label id='subText'>keeping you on track</label>
            </div>
            
            <form method="POST" action="/logout" id="logoutButtonForm">
                <button id="logoutButton">Log Out</button>
            </form>
        </div>

        <div class="singleDetailContent">
            {{#project}}
            <h1 class="singleTitle">{{name}}</h1>

            <div class="singleBox">
                <div class="detailsBox">
                    <textarea class="detailsTextArea" readonly>{{description}}</textarea>
                    <label class="detailsLabel"><p>Project Status: {{statusText}}</p></label>

                    <div id='buttons'>
                        <form method="POST" action="../update-project">
                        <input type="hidden" value={{id}} name="projectId" />
                        <button class="detailsButton">Update Project</button>
                        </form>


                        <form method="POST" action="../delete-project">
                        <input type="hidden" value={{id}} name="projectId" />
                        <button class="detailsButton" onclick="if (!confirm('Are you sure you want to delete this project?')) { return false }">Delete Project</button>
                        </form>
                    </div>   
                </div>

                

            </div>

            {{/project}}
        </div>

        <footer>
                <p>© 2020 / / plannero</p>
                <a href='/about-us'>About Us</a>
        </footer>

    </body>

</html>

