<h1> Register</h1>

<form>
<input type='text' name='username' placeholder='Username' required/>
<input type='text' name='password' placeholder='Password' required/>
<input type='text' name='confirmPassword' placeholder='Confirm Password' required/>
<button> Sign Up </button>
</form>

{{message}}


<label>Already Have An Account?</label>
<a href='/login'><button>Log In</button></a>