<!DOCTYPE html>
<html lang='en'>

    <head>
        <title>Register - Plannero</title>
        <link rel="stylesheet" href="./css/register-styles.css">
    </head>

    <body onload="if ({{message}} == 0) { return alert('Username already exists')} 
                  else if ({{message}} == 1) { return alert('Passwords do not match')}">  
       
        <div id='planneroText'>
            <h1>plannero</h1>
            <p>keeping you on track</p>
        </div>
       
        <div id="container">
            <form method="POST" action="/register">
                <label id='newAccount'>New Account</label>
                <input type='text' name='username' placeholder='Email or username' required/>
                <input type='password' name='password' placeholder='Password' required/>
                <input type='password' name='confirmPassword' placeholder='Confirm Password' required/>
                <button id="signupButton">Sign Up</button>
            </form>
            <hr>
            <a href='/login'><label id="loginButton">Already Have An Account?</label></a>
        </div>
        

    </body>
</html>