<html>
    <head>

    <link rel="stylesheet" type="text/css" href="/../css/styles.css" />
    </head>

    <body>
        <div class="singleDetailContent">
            <h1>Update Project Details</h1>
            
            <div>
                {{#project}}
                <form class="formDetail" method="POST" action="../profile/update-project/confirm">
                    <ul class="ulDetail">
                        <label class="labelDetail">
                            <p class="pDetails">Project Name: </p><input type="text" name="projectName" value="{{name}}" required >
                        </label>

                        <label class="labelDetail">
                            <p class="pDetails">Project Description: </p><textarea type="text" name="projectDescription" value="{{description}}" required >{{description}}</textarea>
                        </label>

                        <label class="labelDetail" for="projectStatus">
                            <p class="pDetails">Project Status: </p>
                            <select name="projectStatus" id="projectStatus">
                            <option value={{status}} selected disabled hidden>{{statusText}}</option>
                            <option value="Working_on">Working On</option>
                            <option value="Completed">Completed</option>
                            <option value="Plan_to_do">Plan To Do</option>
                            </select>
                        </label>
                        <input type="hidden" name="projectId" value="{{id}}">
                    </ul>
                    <button class="singleButton">Submit</button>
                </form>
                {{/project}}
            </div>
        </div>
    </body>


</html>