<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Update Project - Plannero</title>
        <link rel="stylesheet" type="text/css" href="/../css/styles.css" />
        <link rel="stylesheet" type="text/css" href="/../css/update-styles.css" />
    
    </head>

    <body>

        <div id='header'>
            
            <div id='logo'>
                <a href='/profile' class='profileAnchor'> <label id='mainText'>plannero</label></a>
                <label id='subText'>keeping you on track</label>
            </div>
            
            <form method="POST" action="/logout" id="logoutButtonForm">
                <button id="logoutButton">Log Out</button>
            </form>
        </div>

        <div class="singleDetailContent">
            <h1>Update Project Details</h1>
            
            <div class="singleBox">
                    {{#project}}
                    <form class="formDetail" method="POST" action="../profile/update-project/confirm">
                        <ul class="ulDetail">
                        <div class='updateElements'>
                                <p class="pDetails">Project Name: </p><input type="text" name="projectName" value="{{name}}" required >
                            
                        </div>
                        <div class='updateElements'>
                            <p class="pDetails">Project Description: </p><textarea class="cUTextArea" type="text" name="projectDescription" value="{{description}}" required >{{description}}</textarea>
                        </div>
                        <div class='updateElements'>
                            <p class="pDetails">Project Status: </p>
                            <select name="projectStatus" id="projectStatus">
                            <option value={{status}} selected disabled hidden>{{statusText}}</option>
                            <option value="Working_on">Working On</option>
                            <option value="Completed">Completed</option>
                            <option value="Plan_to_do">Plan To Do</option>
                            </select>
                        </div>
                        <input type="hidden" name="projectId" value="{{id}}">
                    </ul>
                    <button class="singleButton">Update</button>
                </form>
                {{/project}}
            </div>
        </div>

        <footer>
                <p>© 2020 / / plannero</p>
                <a href='/about-us'>About Us</a>
        </footer>
    </body>


</html>