@font-face {
    font-family: Hanzipen;
    src: url('hanzipen-tc-regular.otf');
}

@font-face {
    font-family: Avenir;
    src: url('AvenirLTStd-Roman.otf') format('truetype');
}

button {
    cursor: pointer;
    font-family: Avenir;
    background-color: rgb(0, 162, 254);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 20px;

}

button:hover {
    background-color: rgb(18, 133, 199);
}

.profileAnchor {
    text-decoration: none;
    cursor: pointer;
}

a label {
    cursor: pointer;
}


body {
    padding: 0px;
}


#header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

#logo {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 100px;
}

#logoutButtonForm {
    justify-self: right;
    margin-right: 100px;
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;

}

#logoutButton {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
}

#mainText {
    font-family: Hanzipen;
    font-size: 60px;
    color: white;
}

#subText {
    font-family: Avenir;
    color: white;
    color: rgb(117, 200, 255); 

}

h1 {
    color: white;
    font-family: Avenir;
    font-size: 50px;
    margin-right: 50px;
}

form.formdetail {
    justify-content: center;
    padding: 20px;
    width: 100%;
}

/* div.singledetailcontent {
    text-align: center;
} */

input {
    width: 400px;
    border: rgb(165, 167, 170);
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    font-family: Avenir;
    margin: 10px 20px 10px 20px;
    padding: 10px;
    font-size: 20px;
    justify-self: center;
}

textarea {
    font-family: Avenir;
    width: 400px;
    border: rgb(165, 167, 170);
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    margin: 10px 20px 10px 20px;
    padding: 10px;
    font-size: 20px;
    justify-self: center;

}

label.labeldetail {
    width: 94%;
}

#projectStatus {
    font-family: Avenir;
    padding: 10px;
    margin: 10px 10px 0px 20px;
    font-size: 20px;
    border-radius: 5px;
    justify-self: center;
    width: 400px;

}



p {
    font-family: Avenir;
}



footer {
    display: flex;
    justify-content: center;
    font-family: Avenir;
    align-items: baseline;
}

footer p {
    color: white;
    margin-right: 50px;
}

footer a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 768px){

    #mainText {
        color: white;
        font-size: 80px;
    }

    #subtext {
        font-size: 20px;
    }
    

    #logoutButton {
        margin-right: 10px;
        font-size: 40px;
    }

    input {
        width: 600px;
        height: 100px;
        font-size: 40px;
    }

    div.singlebox {
        width: 700px;
        height: 700px;

    }

    textarea {
        width: 600px;
        height: 100px;
        font-size: 40px;

    }

    #projectStatus {
        width: 600px;
        height: 100px;
        font-size: 40px;

    }

    .singlebutton {
        font-size: 50px;
        padding: 20px;
        width: 200px;
    }

    .ulDetail {
        height: 500px;
        justify-content: center;
    }

    h1 {
        margin-top: 50px;
    }


}