
@font-face {
    font-family: Hanzipen;
    src: url('hanzipen-tc-regular.otf');
}

@font-face {
    font-family: Avenir;
    src: url('AvenirLTStd-Roman.otf') format('truetype');
}

button {
    cursor: pointer;
    font-family: Avenir;
    background-color: rgb(0, 162, 254);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

button:hover {
    background-color: rgb(18, 133, 199);
}

.profileAnchor {
    text-decoration: none;
    cursor: pointer;
}

a label {
    cursor: pointer;
}


body {
    padding: 0px;
}


#header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

#logo {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 100px;
}

#logoutButtonForm {
    justify-self: right;
    margin-right: 100px;
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;

}

#logoutButton {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
}

#mainText {
    font-family: Hanzipen;
    font-size: 60px;
    color: white;
}

#subText {
    font-family: Avenir;
    color: white;
    color: rgb(117, 200, 255); 

}

#createProjectButton {
    font-size: 30px;

}

/* .showallForm {
    justify-content: right;
} */

.showallButton {
float: right;}

h1 {
    font-family: Avenir;
    color: white;
    font-size: 75px;

}

h2 {
    font-family: Avenir;
    color: white;


}

h3 {
    font-family: Avenir;
}

p {
    font-family: Avenir;
}

hr {
    color: rgb(180, 185, 192);
    width: 90%;
    
}

#plantodoDiv {
    margin-bottom: 100px;
}

footer {
    display: flex;
    justify-content: center;
    font-family: Avenir;
    align-items: baseline;
}

footer p {
    color: white;
    margin-right: 50px;
}

footer a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 768px){

    /* #header {
        align-items: center;
        text-align: center;
        padding: 20px;
        margin: 0;
        margin-top: 0;

    } */

    #mainText {
        color: white;
        font-size: 80px;
    }

    #subtext {
        font-size: 20px;
    }
    

    #logoutButton {
        margin-right: 10px;
        font-size: 40px;
    }

    #createProjectButton button{
        font-size: 30px;
    
    }
 
    .content {
        height: 300px;
        width: 800px;
    }

    div.card {
        width: 200px;
        height: 200px;
        margin: 10px 5px 5px 5px;
    }

    .projectDetails {
        height: 134px;
        width: 100%;
        margin: 5px 5px 5px 5px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 30px;
        max-width: 100%;
        padding-top: 20px;

    }

    p {
        font-size: 20px;
    } 

    #plantodoDiv {
        margin-bottom: 100px;
    }

    .showallButton {
        font-size: 30px;
        padding: 15px;
    }


}
